body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
main {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

img {
  display: block;
  margin: auto;
  max-width: min(600px, 50vw);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
  border-top: 1px solid gray;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.main-header>* {
  padding: 0px 20px;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

form>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 220px;
}

label {
  padding: 4px;
}

input[type='text'], input[type='password'] {
  width: 120px;
}